.hidden {
    display: none;
}

html, body {
    background-color: darkgray;
    color: black;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#main-game {
    box-sizing: border-box;
    width: 80vw;
    height: auto;
    border: 2px solid navy;
    position: relative;
    margin: 10px auto;
    text-align: center;
    padding: 25px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

#player-name-h {
    font-size: 1.2em;
}

button {
    padding: 15px;
    font-size: 1em;
    background-color: black;
    color: white;
    margin-left: 10px;
}

button:hover {
    background-color: gray;
}

#game-window {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
}

.game-menu,
.inner-game-window,
.enemy-window {
    box-sizing: border-box;
    border: 2px dashed navy;
    flex: 1 0 20%;
    max-height: auto;
    padding: 10px;
}

.game-menu > * {
    margin-top: 10px;
}

.inner-game-window {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 0 58%;
    height: auto;
}

.game-menu-display {
    border: none;
    box-sizing: border-box;
    height: auto;
}

#input-name {
    margin-top: 10px;
    margin-bottom: 25px;
}

.enemy-window {
    font-size: 1.2em;
}

.enemy-window h2 {
    font-size: 1.2em;
}

.hub-nav-container,
.battle-nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.hub-nav-container > *,
.battle-nav-container > * {
    flex: 1;
}

#to-next-fight {
    position: relative;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: bisque;
}

#to-next-fight:hover {
    background-color: rgb(255, 132, 132);
}

.text-window,
.battle-text,
.opponent-battle-text {
    border: 1px dotted black;
    text-align: left;
    transition: all 0.3s ease-out;
}

.battle-text.expanded,
.opponent-battle-text.expanded {
    animation: expandAnimation 0.3s ease-out;
}
    @keyframes expandAnimation {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }

